xml-resources/jaxb/practicaFinal/practicaFinal.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pilotos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="piloto" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre"/>
              <xs:element type="xs:string" name="nacionalidad"/>
              <xs:element type="xs:string" name="edad"/>
              <xs:element type="xs:string" name="titulos"/>
              <xs:element type="xs:string" name="carreras"/>
              <xs:element type="xs:string" name="puntosCarnet"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="coche" use="optional"/>
            <xs:attribute type="xs:string" name="escuderia" use="optional"/>
            <xs:attribute type="xs:string" name="numero" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>